// Import variables and fonts
@import 'variables';
@import 'bulma';

// Content styling
.content {
  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      @extend .is-family-secondary;
      @extend .has-text-weight-normal;

      @if $i <= 2 {
        @extend .has-text-primary;
      }
    }
  }

  // Link styling
  a:not(.button) {
    color: $link;
    border-bottom: 1px $link dotted;

    &:active {
      color: $link-active;
      border-bottom-color: $link-active;
    }

    &:hover {
      color: $link-hover;
      border-bottom-color: $link-hover;
    }

    // Links in the footer have no border
    .footer > & {
      border-bottom: none;
    }
  }
}

// Button styling
.button[type="submit"] {
  @extend .is-uppercase;
  @extend .has-text-weight-bold;
}

// Background styling
.background {
  @extend .has-background-primary-light;

  // Direct children will be a container
  & > * {
    @extend .container;
  }
}

// Container margin on touch devices
@media (max-width: $desktop) {
  .container {
    margin: 0px 1rem;
  }
}

// Header styling
header {
  @extend .container;
  @extend .py-6;
}

// Nav styling
nav {
  @extend .container;

  // Position the nav under the successor
  z-index: 2;

  // Direct successors will be positioned over the nav
  & + * {
    // Position the successor over the nav
    z-index: 1;
    margin-top: calc(-1 * #{$tabs-border-bottom-width});
  }
}

// Outer content styling
main {
  @extend .container;
  @extend .has-background-white;

  border: 1px solid $primary;
  border-top: none;
}

// Footer styling
footer {
  @extend .container;
  @extend .is-size-7;
  @extend .has-text-centered;
  @extend .py-5;
}

// Table styling
.table {
  width: 100%;

  &.departures td {
    vertical-align: middle;
  }
}

.button, .input {
  @extend .is-radiusless;
  @extend .is-shadowless;
}

// Dropdown styling
.dropdown {
  // Dropdown menu
  .dropdown-content {
    max-height: 25rem;
    overflow-y: auto;
  }

  // Dropdown item
  .dropdown-item {
    @extend .is-size-7;
    @extend .py-1;
  }
}
