{% extends 'index.html' %}

{% block title %}
  Vertrektijden
{% endblock %}

{% block content %}
  <div class="columns is-gapless">
    <div class="column is-4">
      <section class="section">
        {% if error %}
          <p class="has-text-danger mb-3">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
              <span>
                {% if error == 'node_not_found' %}
                  Het station is niet gevonden.
                {% endif %}
              </span>
            </span>
          </p>
        {% endif %}

        <form method="GET" action="{{ url_for('frontend.departures_details') }}">
          <div class="field">
            <label class="label has-text-weight-normal mb-0">station</label>
            <div class="control">
              <input class="input is-small" type="text" name="node" id="node" value="{{ node | default('', true) }}">
            </div>
          </div>

          <button class="button is-primary mt-5" type="submit">Bekijk tijden</button>
        </form>
      </section>
    </div>

    <div class="column is-8">
      {% block departures_content %}
        <figure class="image is-4by3 is-hidden-mobile">
          <img src="{{ request.root_url }}/static/images/bg-departures.png">
        </figure>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    // Event handler when the document is ready
    $(function() {
      // Make station lists
      stationInput('#node', '{{ url_for("nodes.get_nodes", _external = True) }}');
    });
  </script>
{% endblock %}
