<!DOCTYPE html>
<html>
  <head>
    <!-- Meta-tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Timetable">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ request.root_url }}/static/css/styles.css">

    <!-- Title -->
    <title>Timetable {{ request.root_url }}/</title>
  </head>

  <body>
    <!-- Container -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="{{ request.root_url }}/static/fontawesome/js/all.js"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
