{% extends 'index.html' %}

{% block content %}
  <section class="section content">
    <h1>Trein {{ train }}</h1>

    <div class="columns">
      <div class="column is-4">
        <h3>Informatie</h3>

        <table class="table is-bordered is-narrow">
          <tr>
            <th style="width:40%">Vervoerder</th>
            <td>{{ train.agency.name }}</td>
          </tr>

          <tr>
            <th style="width:40%">Type</th>
            <td>{{ train.type.name }}</td>
          </tr>

          <tr>
            <th style="width:40%">Prioriteit</th>
            <td>{{ train.priority }}</td>
          </tr>
        </table>
      </div>

      <div class="column is-8">
        <h3>Route</h3>

        <table class="table is-narrow">
          <thead>
            <tr>
              <th class="is-size-7" style="width: 15%;">Aankomst</th>
              <th class="is-size-7" style="width: 15%;">Vertrek</th>
              <th class="is-size-7" style="width: 70%;">Station</th>
            </tr>
          </thead>

          <tbody>
            {% for p in train %}
              <tr>
                <td>
                  <p class="mb-0">
                    {% if p.arrival %}
                      {{ p.arrival.__format__('%H:%M') }}
                    {% endif %}
                  </p>
                </td>
                <td>
                  <p class="mb-0">
                    {% if p.departure %}
                      {{ p.departure.__format__('%H:%M') }}
                    {% endif %}
                  </p>
                </td>
                <td>
                  <a class="inline" href="{{ url_for('show_node', id = p.node.id) }}">
                    {% if not p.node.node %}
                      {{ p.node }}
                    {% else %}
                    <b>{{ p.node }}</b>
                    {% endif %}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
